# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/

# Logs
*.log

# Database
*.db
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db
